

 body{
    font-size: 1 em;
    line-height: 1.6;
    font-weight: 400;
    font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222;
}

.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color: rgb(66, 196, 247);
    border-radius: 2px;
}

.banner h2{
    color: white;
    padding-top: 5px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}

.name {
    height: 2px;
    margin: 0px -10px 13px;
    #background-color: rgb(66, 196, 247);
    border-radius: 2px;
}


.app-box .Title{
  border-bottom: 1px solid rgb(216, 216, 216);
}

.app-box .Title h3{
    font-size: 1.75rem;
    color: rgb(66, 196, 247);
    border-bottom: rgb(216, 216, 216);
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.app-box {
    border-radius: 5px;
    border-width: 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: initial;
    border-left-style: solid;
    border-top-color: rgb(216, 216, 216);
    border-right-color: rgb(216, 216, 216);
    border-bottom-color: initial;
    border-left-color: rgb(216, 216, 216);
    border-image: initial;
}


.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
  padding: 15px 15px 15px 15px;
  box-shadow: 0px 0px 5px 5px  rgba(204,204,204,0.4);
  }
  
.slider-box {
     top: 5px;
      z-index: 1000000;
      width: 90%;
      position: relative;
      margin: 10px auto;
     left: 20px;
} 
  




